// overflow
.ui-oh
  overflow: hidden
.ui-oa
  overflow: auto
.ui-os
  overflow: scroll
.ui-oys
  overflow-y: scroll
.ui-oxs
  overflow-x: scroll

// float
.ui-fl
  float: left
.ui-fr
  float: right
.ui-cf
  display: block
  clear: both
  visibility: hidden
  height: 0
  content: "."

// text
.ui-tl
  text-align: left
.ui-tr
  text-align: right
.ui-tc
  text-align: center
.ui-fn
  font-weight: normal !important
.ui-fb
  font-weight: bold

// position
.ui-pr
  position: relative
.ui-pa
  position: absolute
.ui-pf
  position: fixed
.ui-pvm
  position: absolute
  top: 50%
  transform: translateY(-50%)
.ui-phm
  position: absolute
  left: 50%
  transform: translateX(-50%)
.ui-pm
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

// display
.ui-n, .ui-none
  display: none
.ui-b, .ui-block
  display: block
.ui-il
  display: inline
.ui-ilb
  display: inline-block
.ui-hide
  opacity: 0
.ui-show
  opacity: 1

// others
.ui-vm
  vertical-align: middle
.ui-cp
  cursor: pointer
.ui-mlr
  margin-left: auto
  margin-right: auto