// semantic-ui colors
// https://github.com/semantic-org/semantic-ui/blob/master/src/themes/default/globals/site.variables

colors = {
  red   : #DB2828,
  orange: #F2711C,
  yellow: #FBBD08,
  olive : #B5CC18,
  green : #21BA45,
  teal  : #00B5AD,
  blue  : #2185D0,
  violet: #6435C9,
  purple: #A333C8,
  pink  : #E03997,
  brown : #A5673F,
  grey  : #767676,
  black : #1B1C1D,
  white : #FFFFFF,
  '000' : #000,
  '333' : #333,
  '666' : #666,
  '999' : #999,
  aaa   : #aaa,
  ccc   : #ccc,
  eee   : #eee
}

for name, color in colors
  .ui-{name}
    color: color
  .ui-bg-{name}
    background: color
  .ui-bd-{name}
    border-color: color