@import './_mixin.styl'

// 12 ~ 48 (+2px)
iterator(6, 24, 2, 1px, font-size, ui-f)

// 1.1 ~ 1.9 (+0.1em/rem)
iterator(11, 19, 1, 0.1em, font-size, ui-f, e)
iterator(11, 19, 1, 0.1rem, font-size, ui-f, r)

// 2.1 ~ 2.9 (+0.1em/rem)
iterator(21, 29, 1, 0.1em, font-size, ui-f, e)
iterator(21, 29, 1, 0.1rem, font-size, ui-f, r)

// 1 ~ 5 (+1em/rem)
iterator(1, 5, 1, 1em, font-size, ui-f, e)
iterator(1, 5, 1, 1rem, font-size, ui-f, r)