types = top right bottom left

location()
  for arg in arguments
    if arg[0] in types
      {arg[0]}: arg[1] || 0

absolute()
  position: absolute
  location: arguments

relative()
  position: relative
  location: arguments
  
fixed()
  position: fixed
  location: arguments

// example:
//.box
//  absolute: top, left 5px